/********************************* Autor: Adrian Gomez Luna Fecha creación: 10/02/2021 Última modificación: dd/mm/aaaa Versión: x.xx ***********************************/

.logo {
    width: 400px;
    height: 200px;
    left: 500px;
    position: relative;
}

.tablaNumeros {
    width: 90%;
    border: solid black 5px;
    margin-top: 10px;
}

.tablaNumeros td {
    background-position: center;
    border: solid black 3px;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 20px;
}

.colorear {
    background-color: brown;
}

div span {
    color: brown;
}

.nuevaTablaBolas {
    color: rgb(245, 181, 181);
}

#bola {
    line-height: 95px;
    background-color: #a50c2d;
    color: white;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    font-size: 60px;
    padding: auto;
}

#player {
    width: 80%;
    border: solid black 5px;
}

#player td {
    background-position: center;
    border: solid black 3px;
    height: 100px;
    width: 100px;
    text-align: center;
    font-size: 40px;
}

.vacia {
    background-color: darksalmon;
}

.acierto {
    background-color: chocolate;
    color: crimson;
}