/********************************* Autor: Adrian Gomez Luna Fecha creación: 10/02/2021 Última modificación: dd/mm/aaaa Versión: x.xx ***********************************/

.logo {
    width: 400px;
    height: 200px;
    left: 500px;
    position: relative;
}

div span {
    color: brown;
}

.nuevaTablaBolas {
    color: brown;
}